@import url("https://fonts.googleapis.com/css?family=Muli|Open+Sans&display=swap");

:root {
  --primaryColor: #ceeae6;
  --primaryRGBA: rgba(0, 0, 0, 0.3);
  --mainColor: #fcd42b;
  --darkColor: #291b4f;

  --mainWhite: rgb(245, 245, 245);
  --mainBlack: #101820ff;
  --mainTransition: all 0.3s ease-in-out;
  --mainSpacing: 0.3rem;
}

body {
  font-family: "Muli", sans-serif !important;
  background: var(--mainColor) !important;
  color: var(--mainBlack);
}
.text-title {
  font-family: "Muli", sans-serif;
  color: red;
  background: blue;
}
